body {
    display: grid;
    grid-template: 50rem 80rem 1fr 20rem / 20% 80%;
    grid-template-areas: 
    "header header"
    "sidebar welcome_bar"
    "sidebar admin-tools"
    "footer footer";
}

.header {
    grid-area: header;
    background-color: #1d4fa0;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1F2937;
    display: flex;
    flex-flow: column wrap;
}

.sidebar ul {
    margin-top: 30rem;
    display: flex;
    flex-flow: column wrap;
    gap: 15rem;
}

.sidebar ul img {
    filter: invert(1);
    height: 20rem;
    width: auto;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 20rem;
}

.welcome_bar {
    grid-area: welcome_bar;
    box-shadow: 0rem 3rem 2rem gray;
}

.admin_tools {
    grid-area: admin_tools;
}

.footer {
    grid-area: footer;
    background-color: #1d4fa0;
}

