body {
    display: grid;
    grid-template: 50rem 80rem 1fr 30rem / 30% 70%;
    grid-template-areas: 
    "header header"
    "sidebar welcome_bar"
    "sidebar admin-tools"
    "footer footer";
}

.header {
    grid-area: header;
    background-color: #1d4fa0;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1F2937;
}

.welcome_bar {
    grid-area: welcome_bar;
}

.admin_tools {
    grid-area: admin_tools;
}

.footer {
    grid-area: footer;
    background-color: #1d4fa0;
}
