:root {
    font-size: 6.25%;
}

body {
    height: 100vh;
    width: 100vw;
    flex-flow: row wrap;
    align-content: stretch;
}

/* For the sidebar */

section.sidebar {
    flex: 1 1 40vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background: url(../assets/images/sign-up_sidebar_orig.jpg) center/cover; 
}

.sidebar > p, .sidebar > p > a {
    color: grey;
    font-size: 10rem;
    align-self: center;
}

.sidebar > img {
    max-width: 50%;
    height: auto;
    padding-top: 30%;
    opacity: 80%;
}

/* For the form side */

section.content {
    flex: 1 1 60vw;
    font-size: 12rem;
}

