body {
    flex-flow: row wrap;
}

p, a, h1, form {
    color: antiquewhite;
}

/* For the sidebar */

.sidebar {
    flex: 1 1 40vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: url(../assets/images/sign-up_sidebar_orig.jpg) center/cover; 
}

.attribution {
    font-size: 10rem;
    align-self: flex-end;
}

.sidebar > div {
    justify-content: center;
    margin-top: 15%;
    background-color: rgba(31, 41, 55, 0.6);
}

/* TODO: use media queries to load different pic sizes for different displays */
.sidebar > div > img {
    max-width: 50%;
    height: auto;
    opacity: 0.8;
}

/* For the form side */

.content {
    flex: 1 1 60vw;
    font-size: 12rem;
    background-color: #1F2937;
}

.content > h1 {
    padding: 10%;
}

form {
    background-color: #1d4fa0;
    padding: 5%;
}

fieldset {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: none;
}

fieldset > p {
    display: flex;
    flex-flow: column nowrap;
}

button {
    margin: 3% 5%;
}

.content > p {
    margin-left: 5%;
}

