:root {
    font-size: 6.25%;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}



.header, .footer {
    background-color: #1F2937;
    padding: 5rem 10rem;
}


